/*ini CSS*/
.section-content {
    background: #16558f;
    color: #B8e3ff;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.section-content>h2{
    margin: 2px;
    font-family: system-ui;
}

.header-content {
    text-align: center;
    background: #b8e3ff;
    color: #16558f;
    font-family: system-ui;
    padding-top: 5px;
    padding-bottom: 2px;
}

.header-content>h1{
    font-family: system-ui;
}

.header-content>p{
    font-family: system-ui;
    text-align: center;
    background: #b8e3ff;
    color: #16558f;
    font-family: system-ui;
}

#keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    font-family: system-ui;
    background: white;
    border: 0px;
}

#luas {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    font-family: system-ui;
    background: white;
    border: 0px;
}

.gambar-rumus {
    width: 350px;
    height:auto;
}

.tulisanaja {
    font-family: system-ui;
    color: #16558f;
}

.ini-tulisan-rumus {
    text-align: center;
}

.input {
    width: 100%;
    font-family: system-ui;
}

form>button {
    padding: 15px;
    border-radius: 12px;
    background-color: #16558f;
    border: white;
    font-family: system-ui;
    align-items: center;
}
