/*ini CSS*/
.section-content {
    background: #16558f;
    color: #B8e3ff;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.section-content>h2{
    margin: 0;
    font-family: system-ui;
}

.header-content {
    text-align: center;
    background: #b8e3ff;
    color: #16558f;
}

.header-content>h1{
    font-family: system-ui;
}

.header-content>p{
    font-family: system-ui;
}